<h1>Agentes</h1>

<table class="table">
  <thead>
  <tr>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @agents.each do |a| %>
      <tr>
        <td><%= a.email %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

